
body{
    padding-top:50px;
    background: #41295a;  /* fallback for old browsers */
    background-image: url(img/bg2.png);
    background-blend-mode: multiply;
	height: 100%;
	color: aliceblue;
	will-change: opacity;
}

.tag {
	position: absolute;
	overflow: visible;
	text-align: left;
}
.vtag {
	position: absolute;
	overflow: visible;
    margin-top:-10px;
	text-align: left;
    width: 130px;
    font-size: 14px;
}
.line {
	position: absolute;
	height: 20px;
	width: 2px;
	background: #fff;
	overflow: visible;
}
.vline {
	position: absolute;
	height: 2px;
	width: 50px;
	background: #fff;
	overflow: visible;
}

.vline.vleft{
    right:25px;
}
.vstart {
	top: 0px;
}
.vleft {
	right: 80px;
    text-align: right;
}

.vright{
    left: 80px;
}

.vline.vright{
    left:25px;
}

.tag.christmas,
.line.christmas {
	left: 65.97528684907326%;
}

.vchristmas {
	top: 65.97528684907326%;
}
.kitten,
.line.kitten {
	left: 24.40423654015887%;
}

.vkitten{
    top: 24.40423654015887%;
}
.jill {
	left: 29.964695498676083%;
}

.vjill {
	top: 29.964695498676083%;
}


.eye {
	left: 27.05207413945278%;
}

.veye {
	top: 27.05207413945278%;
}

.vegx{
    top: 40.82082965578111%;
}

.vbaby{
    top: 43.46866725507502%;
}

.halloween {
	left: 51.41218005295675%;
}

.vhalloween {
	top: 51.41218005295675%;
}

.bonfire {
	left: 52.73609885260371%;
}
.vbonfire {
	top: 52.73609885260371%;
}
.chols {
	left: 63.062665489849955%;
}
.vchols {
	top: 63.062665489849955%;
}
.amybday {
	left: 90.07060900264784%;
}
.vamybday {
	top: 90.07060900264784%;
}
.katebday {
	left: 88.2171226831421%;
}
.vkatebday {
	top: 88.2171226831421%;
}
.vnewyear {
	top: 67.82877316857899%;
}

.vhome {
	top: 68.62312444836716%;
}

.tag.end {
	left: 95%
}
.progress {
	overflow: visible;
}
.end {
	left: 100%;
}
.vend {
	left: 100%;
}
.tag.down {
	top: 35px;
}
.line.down {
	top: 15px;
}
.tag.up {
	top: -40px;
	padding-left: 5px;
}
.line.downmore {
	height: 65px;
	top: 15px;
}
.tag.downmore {
	top: 80px;
}
.line.up {
	top: -20px;
}
html {
	height: 100%;
}
.label-container{
    width:30px;
    margin:auto;
}
.progress-bar-vertical {
	width: 20px;
	min-height: 800px;
	display: inline-block;
	overflow: hidden;
	margin-right: auto;
	margin-left: auto;
}
.progress-bar-vertical .progress-bar {
	width: 100%;
	height: 0;
	-webkit-transition: height 0.6s ease;
	-o-transition: height 0.6s ease;
	transition: height 0.6s ease;
}
.vertical-text {
	transform: rotate(90deg);
}
.bar-bg-glow {
	background-color: purple !important;
}

@media (min-width: 992px) {
	body {
		padding-top: 56px;
	}
}